[submodule "local/codechecker"]
	path = local/codechecker
	url = https://github.com/moodlehq/moodle-local_codechecker.git
[submodule "local/moodlecheck"]
	path = local/moodlecheck
	url = https://github.com/marinaglancy/moodle-local_moodlecheck.git
